@page "/"
<div class="block">
    <img src="css/images/ThemisImg.jpg" style="width:220px;height:250px" />
        <h4>Welcome to Themis</h4>
        <h6>SCRUM Management framework</h6>
    <br />
        <NavLink href="login"><button class="btn btn-primary">Login</button></NavLink>
        <NavLink href="register"><button class="btn btn-primary">Register</button></NavLink>
</div>
@code {

}
